h1, h2 {font-weight: 700;}
.title {
  background-color: #009688;
  color: white;
  text-align: center;
  margin-top: 20px;
}
.row { margin-bottom: 20px; }
button {width: 100%;}
h2, li {color: #009688;}
li { 
  font-size: 20px;
  font-weight: 520;
}
li:hover {
  background-color: #80cbc4;
  color: white;
}
.todoDone {
  background-color: #b2dfdb;
  color: white;
  text-decoration: line-through;
  pointer-events: none;
}